{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="my-4">
            <div id="clock"></div>
            <code>{{ controllerInfo }}</code>
        </div>
    </div>
    <div class="container text-center">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
        <table class="table table-bordered">
            {% for trailer in trailers %}
                <tr>
                    <td><img src="{{ trailer.image }}" alt="{{ trailer.title }}"/></td>
                    <td><a href="/trailers/{{ trailer.id }}">{{ trailer.title }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script type="text/javascript">
        function tick(element) {
            var date = new Date()
            element.innerText = date.toLocaleDateString() + ' ' + date.toLocaleTimeString()
            setTimeout(tick, 1000, element)
        }

        var clock = document.getElementById('clock')

        if (clock) {
            tick(clock)
        }
    </script>
{% endblock %}
