{% extends 'main.html.twig' %}

{% block title %}{{ trailer.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="my-4">
            <a href="/">Home page</a>
        </div>
    </div>
    <div class="container">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <a href="{{ trailer.link }}" target="_blank">
                        <img class="h-100" src="{{ trailer.image }}" alt="{{ trailer.title }}" title="Source">
                    </a>
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">{{ trailer.title }}</h5>
                        <p class="card-text">{{ trailer.description }}</p>
                        <p class="card-text">
                            <small class="text-muted">Published at {{ trailer.pubDate | date('F jS, Y') }}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
